*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.settings
.project
.classpath
.studio
target

# Apple # 
.DS_Store

# Intellij #
.idea
*.iml
*.log

# VSCode
.vscode

# logback
logback.out.xml

frontend/dist/
frontend/node/
frontend/node_modules/
frontend/npm-debug.log
frontend/target

!.mvn/wrapper/maven-wrapper.jar

